* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #552eb0;
}

nav a {
	display: inline-block;
	margin: 1rem 2rem;
	text-decoration: none;
	font-size: 1.2em;
	color: #b0a61c;
	border-bottom: 2px solid #b0a61c;
	transition: 0.1s;
}

nav a:hover,
nav a:active {
	color: #fcf15b;
	border-bottom: 2px solid #fcf15b;
}

#home,
#soloEntryForm,
#judgeForm,
#results {
	height: 50vh;
	min-height: 400px;
	background-color: #8b5bfc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
}
