.App {
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: aliceblue;
}

.form-row {
	padding-bottom: 2.5rem;
	width: 75%;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 1em;
	color: aquamarine;
}

p,
ul {
	margin-bottom: 1em;
	color: aquamarine;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #552eb0;
}

nav a {
	display: inline-block;
	margin: 1rem 2rem;
	text-decoration: none;
	font-size: 1.2em;
	color: #b0a61c;
	transition: 0.5s;
}

nav a:hover,
nav a:active {
	color: #fcf15b;
}

/* #soloList, */
#entryForm,
#results {
	height: 70vh;
	min-height: 100px;
	background-color: #8b5bfc;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
}

#home {
	height: 50vh;
	min-height: 200px;
	background-color: #8b5bfc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
}
